:local(.root) {
  height: 100%;
  width: 100%;
  cursor: grab;
}

:local(.controls) {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

:local(.column) {
  flex: 0;
}

:local(.map) {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

:local(.panning) {
  cursor: grabbing;
}
